@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --blue: #0284c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

#container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 170px 1fr 1fr;
    height: 100vh;
}

#sidebar {
    grid-row: 1 / 4;
    background-color: var(--blue);
    color: white;
}

#dash-logo {
    display: grid;
    grid-template-columns: 80px 1fr;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    justify-items: left;
    align-items: center;
    padding: 1rem 0 1rem 0;
    row-gap: 0;
}

.links {
    display: grid;
    grid-template-columns: 80px 1fr;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    justify-items: left;
    align-items: center;
    row-gap: 1rem;
    padding: 2rem 0 2rem 0;
}

.links a {
    text-decoration: none;
    color: inherit;
}

.svg-icon-db,
.svg-icon-links {
    width: 2rem;
    fill: white;
    justify-self: right;
}

.svg-icon-links {
    width: 1.5rem;
    padding-right: 5px;
}

#header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1000px 1fr;
    padding-bottom: 10px;
    box-shadow: 3px 3px 5px gray;
}

#header>div {
    grid-column: 1 / 2;
    display: grid;
    justify-items: left;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 90px;
}

#header>div~div {
    grid-column: 2 / 3;
}

#header-right>div~div {
    display: flex;
    gap: 30px;
}

button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--blue);
    color: white;
    border: none;
}

button:hover {
    background-color: rgba(170, 168, 168, 0.3);
    color: var(--blue);
    border: 1px solid var(--blue);
    cursor: pointer;
}

#svg-search {
    width: 1.5rem;
    justify-self: right;
    align-self: center;
}

#div-search {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-self: end;
}

#input-search {
    width: 750px;
    margin-left: 15px;
    border-radius: 15px;
    padding: 9px 15px;
    outline: none;
    border: none;
    background-color: rgba(170, 168, 168, 0.3);
}

#input-search:focus {
    border: 1px solid var(--blue);
}

#user-photo {
    width: 3rem;
    grid-row: span 2;
}

.user-photo {
    width: 3rem;
    background-color: black;
    border-radius: 17px;
}

#user-greeting {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 20px;
    align-items: center;
    padding-left: 48px;
}

#user-greeting>span~span {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    font-weight: 800;
    align-self: start;
}

#user-greeting>span {
    font-size: 0.8rem;
    font-weight: 800;
    align-self: end;
}

#svg-notification {
    width: 1.5rem;
}

#notification-area {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    align-content: end;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    align-self: end;
    font-weight: 700;
}

#main-content {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: rgba(170, 168, 168, 0.3);
    display: grid;
    grid-template-columns: 1100px 1fr;
    grid-template-rows: 60px 1fr;
    gap: 5px;
}

#profile-name {
    font-size: 1.2rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: 500;
    align-self: end;
    padding-left: 2rem;
}

#main-content-header {
    display: flex;
}

#announcements-header {
    display: flex;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 20px;
}

.cards {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    padding: 1rem 2rem;
    display: grid;
    border-left: 7px solid rgb(219, 219, 11);
}

.proj-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
}

.icons {
    justify-self: right;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    gap: 1.5rem;
}

.svg-icons {
    width: 1.6rem;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    align-self: end;
}